
.frontpage {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  @media only screen and (max-width: 1000px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 600;
    //border: solid 1px purple;
  }

  &__pagefields {
    //border: solid 2px blue;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media only screen and (max-width: 1000px) {
      //border: solid 2px blue;
      flex-wrap: wrap;

    }

    &--textblock {
      //border: solid 2px green;
      width: 500px;
      margin-right: 15px;
      padding-top: 150px;
      padding-right: 10px;

      @media only screen and (max-width: 1000px) {
        margin-right: 0;
        padding-top: 0;
        padding-right: 0;
      }
    }
  
    &--image {
      //border: solid 2px red;
      margin-left: 15px;
      width: 600px;
      
      @media only screen and (max-width: 1000px) {
        margin-top: 50px;
        margin-left: 0;
      }
    }

  }

}
