
.frontpage {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  @media only screen and (max-width: 1000px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__headertext {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

    @media only screen and (max-width: 500px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media only screen and (max-width: 700px) {
      margin-left: 0;
      margin-right: 0;
    }

    @media only screen and (min-width: 1000px) {
      margin-left: 0;
      margin-right: 0;
    }

    @media only screen and (min-width: 1099px) {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  &__pagefields {
   // border: solid 2px blue;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    @media only screen and (max-width: 1000px) {
      flex-wrap: wrap;

    }

    &--textblock {
      width: 500px;
      margin-right: 15px;
      padding-top: 40px;
      padding-right: 10px;

      @media only screen and (max-width: 1000px) {
        margin-right: 0;
        padding-top: 0;
        padding-right: 0;
      }
    }
  
    &--image {
      margin-left: 15px;
      width: 400px;
      
      @media only screen and (max-width: 1000px) {
        margin-top: 50px;
        margin-left: 0;
      }
    }
  }
}
