/* NAVBAR */

.navbar-menu {
  padding: 20px;
  background-color: #f6f0e9;
  box-shadow: 0px 30px 26px -5px rgba(0,0,0,0.10);
}

.navbar-start {
  display: flex;
  //text-transform: uppercase;
  //border: solid 2px black;
  margin-left: 60px;
}

.navbar-end {
  display: flex;
  text-transform: uppercase;
  //border: solid 2px black;
  //margin-left: 60px;


  li {
    display: inline-flex;
    padding-right: 10px;
    //border: solid 1px orangered;


  }

  a {
    color: #2e4e9e;
    font-weight: 800;
  }

  a:hover {
    color: #37aa85;
    //border-bottom: solid 3px #F3EFF5;
  }
}






