.navbar-burger {
  border: #ecbcb0;
}

.navbar-menu {
  display: flex;
  padding: 20px;

  @media screen and (max-width: 1023px) {
    flex-direction: row;
  }  
}

.navbar-start {
  display: flex;
  margin-left: 60px;
}

.navbar-end {
  display: flex;
  text-transform: uppercase;
  margin-right: 60px;


  li {
    display: inline-flex;
    padding-right: 10px;

    @media only screen and (max-width: 1000px) {
      display: inline-block;
      flex-direction: row;
    }
  }

  a {
    margin-left: 20px;
    color: #4a4a4a;
    font-weight: 400;
  }

  a:hover {
    color: #825e5f;
  }
}