
.readbook {
  margin-top: 40px;
  margin-left: 50px;

  &__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    //border: solid 1px purple;
  } 
}
  .iframe-container  {

    .eagle-page-container {
      border: solid 3px green;
    }
    iframe {
      margin-top: 40px;
      margin-left: 60px;
      border: solid 1px green;
      display: flexbox;
      justify-content: center;
    }
  } 

