
.readbook {
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;

  &__text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
    //border: solid 1px purple;
  }
  
    &__iframe-container  {
      display: flex;
      margin-bottom: 100px;
      border: solid 2px green;
      flex-direction: column;

      .textblock {
        border: solid 2px red;
        width: 940px;
        justify-content: center;
      }
  
      iframe {
        display: flex;
        margin-top: 40px;
        border: solid 1px lightgray;
        display: flexbox;
        justify-content: center;
        border: solid 2px blue;
      }
    } 

}
