
.tricky-words {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;

  @media only screen and (max-width: 599px) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;
  }

  @media only screen and (min-width: 600px) {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
  }

  @media only screen and (min-width: 1000px) {
    margin-left: 200px;
    margin-right: 200px;
  }

  @media only screen and (min-width: 1100px) {
    margin-left: 400px;
    margin-right: 400px;
  }

  &__heading {
    font-size: 2.5rem;
  }

  &__rich-text{
      margin-top: 60px;
      margin-bottom: 60px;
  }

  .accordion {
    background-color: #ecbcb0;
    color: #4a4a4a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
  }

  .active, 
  .accordion:hover,
  button:focus {
    background-color: #c49185;
    background: #c49185;
    border-radius: 10px;
  }

  .panel {
    margin-bottom: 10px;
    padding: 0 18px;
    background-color:#f6f0e9;
    display: none;
    overflow: hidden;
    border-radius: 10px;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
}

