
.tricky-words {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  //border: solid 3px goldenrod;

  @media only screen and (min-width: 600px) {
    //border: solid 2px blue;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
  }

  @media only screen and (min-width: 1000px) {
    //border: solid 2px green;
    margin-left: 200px;
    margin-right: 200px;
  }

  @media only screen and (min-width: 1100px) {
    //border: solid 2px red;
    margin-left: 400px;
    margin-right: 400px;
  }

  &__heading {
    font-size: 2.5rem;
  }

  &__rich-text{
      margin-top: 30px;
      margin-bottom: 100px;
      //border: solid 2px red; 
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #fe8a8a;
    color: #4a4a4a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    //text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
    //border: solid 2px red; 
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), 
    and when you move the mouse over it (hover) */
  .active, 
  .accordion:hover,
  button:focus {
    background-color: #ffc53b;
    background: #ffc53b;
    border-radius: 10px;
    //border: solid 2px green; 
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    margin-bottom: 10px;
    padding: 0 18px;
    background-color:#f6f0e9;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    border: solid 2px purple; 
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    //color: green;
    float: right;
    margin-left: 5px;
    //border: solid 2px blue; 
  }

  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    //border: solid 2px brown; 
  }
  
}

