
.trickywords {
  margin-top: 60px;
  margin-left: 100px;
  
    &__heading {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 30px;
      //border: solid 1px purple;
    }
  
    &__letter {
      margin-top: 30px;
      font-size: 1.5rem;
      font-weight: 600;
      width: 200px;
      //border: solid 1px green;

      &--underline {
        border-bottom: solid 4px #43b7bf;
        transition: linear;
        width: 200px;
      //border: solid 1px green;
      }
    }

    &__words {
      display: block;
      //border: solid 1px green;
      width: 300px;
      margin-top: 10px;
    }
    
  }